@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
}

button {
  cursor: pointer;
}

.navHeight {
  height: 64px;
}
.userInvite {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.2rem;
  height: 5.7rem;
  border: 1px solid oklch(var(--b3));
  border-radius: 0.5rem;
}
.userInvite svg {
  margin: auto;
}

/* 캘린더 - 화살표 아이콘 */
.fc .fc-button-primary:hover {
  background-color: var(--fc-event-text-color);
}
.fc .fc-prevButton-button {
  background-color: transparent;
  border: 0;
  background-image: url('../img/icon_arrow_left.png');
  width: 20px;
  height: 20px;
  display: block;
  background-size: contain;
}
.fc .fc-nextButton-button {
  background-color: transparent;
  border: 0;
  background-image: url('../img/icon_arrow_right.png');
  width: 20px;
  height: 20px;
  display: block;
  background-size: contain;
}
/* 캘린더 - 일정컬러 */
.fc .fc-h-event {
  border: var(--fc-event-text-color);
}
.fc-daygrid-day {
  cursor: pointer;
}

.fc-daygrid-day-frame {
  height: 100%;
  z-index: 10;
  &:hover {
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(215, 217, 39, 0.22);
      top: 0;
      left: 0;
    }
  }
}

@media (min-width: 1024px) {
  .main-padding-right {
    padding-right: 25vw;
  }
  .eventCardList {
    position: fixed;
    right: 0;
    top: 0;
    width: 25vw;
    height: 100%;
    padding: 0 1rem;
    padding-left: 0;
    margin-top: 4.5rem;
  }
  .eventCardList .flex {
    overflow-y: auto;
    overflow-x: hidden;
    flex-flow: column;
    max-height: calc(90vh - 72px);
    overflow-y: auto;
  }
  .drawer-toggle {
    display: none;
  }
  .drawer-content {
    flex-direction: row;
  }
  .drawer-side {
    visibility: visible;
    overflow-y: auto;
    pointer-events: auto;
  }
  .drawer-side > *:not(.drawer-overlay) {
    transform: translateX(0%);
  }

  .drawer-overlay {
    visibility: visible;
  }
}
